[Unit]
Description=Running a webserver on locahost
After=network.target

[Service]
ExecStart=/home/pi/ant-camera/TV/env/bin/python3 -u webserver.py
WorkingDirectory=/home/pi/ant-camera/TV
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
